<?xml version="1.0"?>
<config>
    <modules>
        <MEC_Chinapay>
            <version>0.9.0</version>
        </MEC_Chinapay>
    </modules>
    <global>
        <models>
            <chinapay>
                <class>MEC_Chinapay_Model</class>
                <resourceModel>chinapay_mysql4</resourceModel>
            </chinapay>
            <chinapay_mysql4>
                <class>MEC_Chinapay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>chinapay_api_debug</table></api_debug>
                </entities>
            </chinapay_mysql4>
        </models>
        <resources>
            <chinapay_setup>
                <setup>
                    <module>MEC_Chinapay</module>
                    <class>MEC_Chinapay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chinapay_setup>
            <chinapay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chinapay_write>
            <chinapay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chinapay_read>
        </resources>
        <blocks>
            <chinapay><class>MEC_Chinapay_Block</class></chinapay>
    	</blocks>
        <payment>
            <chinapay_payment>
                <languages>
                    <EN>
                        <code>EN</code>
                        <name>English</name>
                    </EN>
                    <CN>
                        <code>CN</code>
                        <name>Chinese</name>
                    </CN>
                </languages>
            </chinapay_payment>
        </payment>
		  <helpers>
		  	   <chinapay>
		  	   	   <class>MEC_Chinapay_Helper</class>
		  	   </chinapay>
		  </helpers>
    </global>
    <frontend>
        <secure_url>
            <chinapay_payment>/chinapay/payment</chinapay_payment>
        </secure_url>
        <routers>
            <chinapay>
                <use>standard</use>
                <args>
                    <module>MEC_Chinapay</module>
                    <frontName>chinapay</frontName>
                </args>
            </chinapay>
        </routers>
        <translate>
            <modules>
                <MEC_Chinapay>
                    <files>
                        <default>MEC_Chinapay.csv</default>
                    </files>
                </MEC_Chinapay>
            </modules>
        </translate>
        <layout>
            <updates>
                <chinapay>
                    <file>chinapay.xml</file>
                </chinapay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <MEC_Chinapay>
                    <files>
                        <default>MEC_Chinapay.csv</default>
                    </files>
                </MEC_Chinapay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <chinapay_payment>
                  <model>chinapay/payment</model>
                  <title>Chinapay</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </chinapay_payment>
        </payment>
    </default>
</config>
