<table width="630" cellspacing="0" cellpadding="0" border="0">
<tr>
<td>
<a href="http://www.sisley.com.cn"><img src="http://www.sisley.com.cn/skin/frontend/default/default/images/logo_email.gif" alt="sisley_logo" border="0"/></a>
</td>
</tr>
<tr>
<td>
<table  style="text-align: center;" cellspacing="0" cellpadding="0" border="0" width="635">
<tr style="background:#AAAAAA; color:white; " height="1">
<td style="width:105px; border-right:1px solid white;"><a href="http://www.sisley.com.cn/news.html" ><font size="2">希思黎最新动态</font></a></td>
<td style="width:105px; border-right:1px solid white;"><a href="http://www.sisley.com.cn/about-sisley.html"><font size="2">关于希思黎</font></a></td>
<td style="width:105px; border-right:1px solid white;"><a href="http://www.sisley.com.cn/skincare.html"><font size="2">护肤系列</font></a></td>
<td style="width:105px; border-right:1px solid white;"><a href="http://www.sisley.com.cn/color.html"><font size="2">彩妆系列</font></a></td>
<td style="width:105px; border-right:1px solid white;"><a href="http://www.sisley.com.cn/perfume.html"><font size="2">香水系列</font></a></td>
<td style="width:105px; border-right:1px solid white;"><a href="http://www.sisley.com.cn/man.html"><font size="2">男士系列</font></a></td>
</tr>
</table>
</td>
</tr>