<table id="Table_01" width="654" height="402" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
<font size="2">亲爱的{{$customer.name}}，</font><br /><br />
<font size="2">希思黎满怀诚挚谢意，欢迎您成为希思黎会员.贵为希思黎会员，您将获悉最及时的产品信息，优先尊享新品试用，亲临专业典雅的美容课堂与绚烂奢华的美颜会。<br />更多详情，请查看<a href="http://www.sisley.com.cn/sis_superior.htm">希思黎会
员规则</a>及<a href="http://www.sisley.com.cn/sis_superior.htm">会员特享礼遇</a><br /><br />
为了让您更好的享受希思黎会员服务，我们为您提供了希思黎会员<br />
E卡。<br /></font>
		<td rowspan="6">
			<img src="http://www.sisley.com.cn/skin/frontend/default/default/images/Ecard.png"/>
	</tr>
	<tr>
		<td colspan="3">
			<img src="http://www.sisley.com.cn/skin/frontend/default/default/images/sisleyedm_03.gif" width="405" height="134" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="http://www.sisley.com.cn/skin/frontend/default/default/images/sisleyedm_04.gif" width="27" height="91" alt=""></td>
		<td>
		<font size="2">
			{{$customer.rank}}
			</font></td>
		<td rowspan="4">
			<img src="http://www.sisley.com.cn/skin/frontend/default/default/images/sisleyedm_06.gif" width="276" height="91" alt=""></td>
	</tr>
	<tr>
		<td>
		<font size="2">
			姓名&nbsp;{{$customer.name}}
		</font></td>
	</tr>
	<tr>
		<td>
		<font size="2">
			卡号&nbsp;{{$customer.ecard}}
			</font></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.sisley.com.cn/skin/frontend/default/default/images/sisleyedm_09.gif" width="102" height="21" alt=""></td>
	</tr>
</table>