<tr>
<td >
<font size="2">
<br /><br />欢迎您再次到希思黎官方网站暨网上商城，祝您购物愉快！<br /><br /></font>
</td>
</tr>
<tr style="background:#E0E0E0;">
<td width="635">
	<table cellspacing="0" cellpadding="0" border="1">
	<tr><td style="background:#e0e0e0" align="left"  width="635" >
		<font size="2">希思黎最受欢迎产品</font>
	</td></tr>
	</table>
</td></tr>
<tr>
<td>
<table>
<tr>
<td width="15">
</td>

<td>
	<table cellspacing="0" cellpadding="0" border="0">
		<tr><td align="center" width="130" >
			<a href="http://www.sisley.com.cn/114100.html"><img src="http://www.sisley.com.cn/skin/frontend/default/default/images/email-img/全能乳液.jpg" alt="全能乳液"  width="100" height="100"  /></a>
		</td>
		</tr>
		<tr><td align="center" width="130" >
			<a href="http://www.sisley.com.cn/114100.html"><font size="2">全能乳液</font></a><br />
			<a href="http://www.sisley.com.cn/114100.html"><font size="2">125ml - ￥1,520.00</font></a>
		</td></tr>
	</table>
</td>
<td width="15">
</td>
<td>
	<table cellspacing="0" cellpadding="0" border="0">
	<tr><td align="center" width="130">
		<a href="http://www.sisley.com.cn/154000.html"><img src="http://www.sisley.com.cn/skin/frontend/default/default/images/email-img/致臻夜间修复精华露.jpg" alt="致臻夜间修复精华露" width="100" height="100"  /></a>
	 </td></tr>
	 <tr><td width="130" align="center" >
		<a href="http://www.sisley.com.cn/154000.html"><font size="2">致臻夜间修复精华露</font></a><br />
		<a href="http://www.sisley.com.cn/154000.html"><font size="2">50ml - ￥5,000.00</font></a>
	</td></tr>
	</table>
</td>
<td width="15">
</td>
<td>
	<table cellspacing="0" cellpadding="0" border="0"><tr><td align="center" width="130">
		<a href="http://www.sisley.com.cn/126600.html"><img src="http://www.sisley.com.cn/skin/frontend/default/default/images/email-img/126600.jpg" alt="赋活水润保湿霜" width="100" height="100" border="0"/></a>
	 </td></tr>
	<tr><td align="center" width="130" >
	<a href="http://www.sisley.com.cn/126600.html"><font size="2">赋活水润保湿霜</font></a><br />
	<a href="http://www.sisley.com.cn/126600.html"><font size="2">40ml - ￥1,500.00</font></a>
	</td></tr>
	</table>
</td>
<td width="15">
</td>
<td>
	<table cellspacing="0" cellpadding="0" border="0"><tr><td align="center" width="130">
	<a href="http://www.sisley.com.cn/150000.html"><img src="http://www.sisley.com.cn/skin/frontend/default/default/images/email-img/抗皱活肤驻颜霜.jpg" alt="抗皱活肤驻颜霜" width="100" height="100"/></a>
	 </td></tr>
	<tr><td align="center" width="130" >
	<a href="http://www.sisley.com.cn/150000.html"><font size="2">抗皱活肤驻颜霜</font></a><br />
	<a href="http://www.sisley.com.cn/150000.html"><font size="2">50ml - ￥2,900.00</font></a>
	</td></tr>
	</table>
</td>
<td>
</td>
</tr>
</table>
</td></tr>

<tr>
<td align="center" width="635">
<a href="http://www.sisley.com.cn/114100.html">
<img src="http://www.sisley.com.cn/skin/frontend/default/default/images/email-bg.jpg" alt="促销商品通栏Banner" width="635" height="140" border="0"/></a></td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr style="background:#E0E0E0;">
<td width="635">
	<table cellspacing="0" cellpadding="0" border="1">
	<tr><td style="background:#e0e0e0" align="left"  width="635" >
		<font size="2">希思黎经典礼盒套装</font>
	</td></tr>
	<tr>
	<td height="15" bgcolor="#FFFFFF">
	<font size="2"><a href="http://www.sisley.com.cn/vs1-493.html">全能乳液套装</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.sisley.com.cn/vs2-494.html">花香保湿面膜套装</a></font></td>
	</tr>
	</table>
</td></tr>
<tr><td>&nbsp;</td></tr>
<tr>
<td style="background:#e0e0e0" width="635">
<font size="2">
此订单确认信仅确认我们已收到了您的订单，只有当我们向您发出送货确认的电子邮件通知您我们已将产品发出时，我们和您之间的订购合同才成立。<br /><br />
在希思黎官网您可以尊享：100%正品保证<br />
希思黎官方网站暨网上商城会员热线：4008-208-139(9:00-21:00国定节假日除外)<br />
了解更多信息，请访问帮助中心。请保管您的邮箱，以免他人盗用，如有任何疑问，请查看希思黎会员条款。<br />
请注意：此邮件发送地址仅用于发送邮件，请勿直接回复。如须与我们联系，您可以发送邮件至cs@sisley.com.cn<br />
</font>
</td>
</tr>
<!--底部区域文本块开始-->

</table>