<?xml version="1.0"?>
<config>
	<modules>
		<Magentix_SocialBookmarking>
			<version>0.2.2</version>
		</Magentix_SocialBookmarking>
	</modules>
	<global>
		<blocks>
			<socialbookmarking>
				<class>Magentix_SocialBookmarking_Block</class>
			</socialbookmarking>
		</blocks>
		<models>
			<socialbookmarking>
				<class>Magentix_SocialBookmarking_Model</class>
				<resourceModel>socialbookmarking_mysql4</resourceModel>
			</socialbookmarking>
			<socialbookmarking_mysql4>
				<class>Magentix_SocialBookmarking_Model_Mysql4</class>
				<entities>
					<bookmarks>
						<table>social_bookmarking</table>
					</bookmarks>
					<urls>
						<table>social_bookmarking_urls</table>
					</urls>
				</entities>
			</socialbookmarking_mysql4>
		</models>
		<helpers>
			<socialbookmarking>
				<class>Magentix_SocialBookmarking_Helper</class>
			</socialbookmarking>
		</helpers>
		<resources>
			<socialbookmarking_setup>
				<setup>
					<module>Magentix_SocialBookmarking</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</socialbookmarking_setup>
			<socialbookmarking_write>
				<connection>
					<use>core_write</use>
				</connection>
			</socialbookmarking_write>
			<socialbookmarking_read>
				<connection>
					<use>core_read</use>
				</connection>
			</socialbookmarking_read>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<socialbookmarking>
					<file>bookmarks.xml</file>
				</socialbookmarking>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<socialbookmarking>
				<use>admin</use>
				<args>
					<module>Magentix_SocialBookmarking</module>
					<frontName>socialbookmarking</frontName>
				</args>
			</socialbookmarking>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Magentix_SocialBookmarking>
					<files>
						<default>Magentix_SocialBookmarking.csv</default>
					</files>
				</Magentix_SocialBookmarking>
			</modules>
		</translate>
        	<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<socialbookmarking>
											<title>Social bookmarking</title>
										</socialbookmarking>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<menu>
			<cms>              
				<children>
					<bookmarks module="socialbookmarking">
						<title>Social Bookmarking</title>
						<sort_order>40</sort_order>
						<action>socialbookmarking/adminhtml_bookmarks</action>
					</bookmarks>
				</children>
			</cms>
		</menu>
		<layout>
			<updates>
				<socialbookmarking>
					<file>bookmarks.xml</file>
				</socialbookmarking>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<socialbookmarking>
			<bitly>
				<version>2.0.1</version>
				<login></login>
				<key></key>
			</bitly>
		</socialbookmarking>
	</default>
</config>