<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <TM_FireCheckout>
            <version>1.2.0</version>
        </TM_FireCheckout>
    </modules>

    <global>
        <models>
            <firecheckout>
                <class>TM_FireCheckout_Model</class>
            </firecheckout>
            <firecheckout_adminhtml>
                <class>TM_FireCheckout_Adminhtml_Model</class>
            </firecheckout_adminhtml>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <links>TM_FireCheckout_Block_Links</links>
                </rewrite>
            </checkout>
            <firecheckout>
                <class>TM_FireCheckout_Block</class>
            </firecheckout>
        </blocks>
        <helpers>
            <checkout>
                <rewrite>
                    <url>TM_FireCheckout_Helper_Url</url>
                </rewrite>
            </checkout>
            <firecheckout>
                <class>TM_FireCheckout_Helper</class>
            </firecheckout>
        </helpers>
    </global>

    <frontend>
        <routers>
            <firecheckout>
                <use>standard</use>
                <args>
                    <module>TM_FireCheckout</module>
                    <frontName>firecheckout</frontName>
                </args>
            </firecheckout>
        </routers>
        <translate>
            <modules>
                <TM_FireCheckout>
                     <files>
                          <default>TM_FireCheckout.csv</default>
                     </files>
                </TM_FireCheckout>
            </modules>
        </translate>
        <layout>
             <updates>
                  <firecheckout>
                        <file>firecheckout.xml</file>
                  </firecheckout>
             </updates>
        </layout>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <firecheckout>
                        <type>model</type>
                        <class>firecheckout/observer</class>
                        <method>setCustomerComment</method>
                    </firecheckout>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <firecheckout>
                        <type>model</type>
                        <class>firecheckout/observer</class>
                        <method>unsetCustomerComment</method>
                    </firecheckout>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <TM_FireCheckout>
                    <files>
                        <default>TM_FireCheckout.csv</default>
                    </files>
                </TM_FireCheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <firecheckout translate="title" module="firecheckout">
                                            <title>Fire Checkout Section</title>
                                        </firecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <firecheckout>
            <general>
                <enabled>0</enabled>
                <title>Fire Checkout</title>
                <shipping_method>flatrate_flatrate</shipping_method>
                <payment_method>paypal_express</payment_method>
                <country>US</country>
                <registration_mode>optional</registration_mode>
                <shipping_address>1</shipping_address>
                <newsletter_checkbox>1</newsletter_checkbox>
                <comment>0</comment>
                <discount>0</discount>
            </general>
            <geo_ip>
                <country>0</country>
                <country_file>GeoIP.dat</country_file>
                <city>0</city>
                <city_file>GeoLiteCity.dat</city_file>
            </geo_ip>
            <address_form>
                <company>optional</company>
                <address>required</address>
                <city>required</city>
                <country>required</country>
                <zip>required</zip>
                <state>required</state>
                <phone>required</phone>
                <fax>optional</fax>
            </address_form>
            <agreements>
                <enabled>0</enabled>
                <output>minimal</output>
            </agreements>
        </firecheckout>
    </default>
</config>