<?xml version="1.0"?>
<config>
    <modules>
        <Mec_Chinaprovicecity>
            <version>0.1.0</version>
        </Mec_Chinaprovicecity>
    </modules>
    <frontend>
	    <translate>
	      <modules>
		<Mec_Chinaprovicecity>
		  <files>
		    <default>Mec_Chinaprovicecity.csv</default>
		  </files>
		</Mec_Chinaprovicecity>
	      </modules>
	    </translate>       
    
        <routers>
            <chinaprovicecity>
                <use>standard</use>
                <args>
                    <module>Mec_Chinaprovicecity</module>
                    <frontName>chinaprovicecity</frontName>
                </args>
            </chinaprovicecity>
        </routers>
        <layout>
            <updates>
                <chinaprovicecity>
                    <file>chinaprovicecity.xml</file>
                </chinaprovicecity>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<chinaprovicecity>
				<use>admin</use>
				<args>
					<module>Mec_Chinaprovicecity</module>
					<frontName>chinaprovicecity</frontName>
				</args>
			</chinaprovicecity>
        </routers>
    </admin>

    <global>
        <models>
            <chinaprovicecity>
                <class>Mec_Chinaprovicecity_Model</class>
                <resourceModel>chinaprovicecity_mysql4</resourceModel>
            </chinaprovicecity>
            <chinaprovicecity_mysql4>
                <class>Mec_Chinaprovicecity_Model_Mysql4</class>
                <entities>
                    <chinaprovicecity>
                        <table>chinaprovicecity</table>
                    </chinaprovicecity>
                </entities>
            </chinaprovicecity_mysql4>
        </models>
        <resources>
            <chinaprovicecity_setup>
                <setup>
                    <module>Mec_Chinaprovicecity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chinaprovicecity_setup>
            <chinaprovicecity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chinaprovicecity_write>
            <chinaprovicecity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chinaprovicecity_read>
        </resources>
        <blocks>
            <chinaprovicecity>
                <class>Mec_Chinaprovicecity_Block</class>
            </chinaprovicecity>
        </blocks>
        <helpers>
            <chinaprovicecity>
                <class>Mec_Chinaprovicecity_Helper</class>
            </chinaprovicecity>
        </helpers>
    </global>
</config>
