<?xml version="1.0"?>
<config>
    <modules>
        <Mec_Pro>
            <version>0.1.0</version>
        </Mec_Pro>
    </modules>
    <frontend>
        <routers>
            <pro>
                <use>standard</use>
                <args>
                    <module>Mec_Pro</module>
                    <frontName>MEC Pro</frontName>
                </args>
            </pro>
        </routers>
        <layout>
            <updates>
                <pro>
                    <file>pro.xml</file>
                </pro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<pro>
				<use>admin</use>
				<args>
					<module>Mec_Pro</module>
					<frontName>MEC Pro</frontName>
				</args>
			</pro>
        </routers>
    </admin>
    <adminhtml>
		<menu>
                                <system>         
				<children>
					<items module="pro">
						<title>Licenses ...</title>
						<sort_order>999</sort_order>
						<action>adminhtml/system_config/edit/section/Mec/</action>
					</items>
				</children>
                                </system>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
						    <children>
						        <config>
						            <children>
						                <Mec>
						                    <title>MEC  Magento Pro</title>
						                </Mec>
						            </children>
						        </config>
						    </children>
						</system>
					</children>
				</admin>		
				
			</resources>
		</acl>
		<layout>
			<updates>
				<pro>
					<file>pro.xml</file>
				</pro>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <pro>
                <class>Mec_Pro_Model</class>
                <resourceModel>pro_mysql4</resourceModel>
            </pro>
            <pro_mysql4>
                <class>Mec_Pro_Model_Mysql4</class>
                <entities>
                    <pro>
                        <table>pro</table>
                    </pro>
                </entities>
            </pro_mysql4>
        </models>
        <resources>
            <pro_setup>
                <setup>
                    <module>Mec_Pro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pro_setup>
            <pro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pro_write>
            <pro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pro_read>
        </resources>
        <blocks>
            <pro>
                <class>Mec_Pro_Block</class>
            </pro>
        </blocks>
        <helpers>
            <pro>
                <class>Mec_Pro_Helper</class>
            </pro>
        </helpers>
    </global>
</config>
