<?xml version="1.0"?>
<config>
    <modules>
        <Mec_Orderoptions>
            <version>0.1.0</version>
        </Mec_Orderoptions>
    </modules>
    <frontend>
        <routers>
            <orderoptions>
                <use>standard</use>
                <args>
                    <module>Mec_Orderoptions</module>
                    <frontName>orderoptions</frontName>
                </args>
            </orderoptions>

          
            
        </routers>
        <layout>
            <updates>
                <orderoptions>
                    <file>orderoptions.xml</file>
                </orderoptions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<orderoptions>
				<use>admin</use>
				<args>
					<module>Mec_Orderoptions</module>
					<frontName>orderoptions</frontName>
				</args>
			</orderoptions>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mec_Orderoptions>
							<title>Orderoptions Module</title>
							<sort_order>10</sort_order>
						</Mec_Orderoptions>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<orderoptions>
					<file>orderoptions.xml</file>
				</orderoptions>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <orderoptions>
                <class>Mec_Orderoptions_Model</class>
                <resourceModel>orderoptions_mysql4</resourceModel>
            </orderoptions>
            <orderoptions_mysql4>
                <class>Mec_Orderoptions_Model_Mysql4</class>
                <entities>
                    <orderoptions>
                        <table>orderoptions</table>
                    </orderoptions>
                </entities>
            </orderoptions_mysql4>
        </models>
        <resources>
            <orderoptions_setup>
                <setup>
                    <module>Mec_Orderoptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderoptions_setup>
            <orderoptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderoptions_write>
            <orderoptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderoptions_read>
        </resources>
        <blocks>
            <orderoptions>
                <class>Mec_Orderoptions_Block</class>
            </orderoptions>
        </blocks>
        <helpers>
            <orderoptions>
                <class>Mec_Orderoptions_Helper</class>
            </orderoptions>
        </helpers>
    </global>
</config>
