<?xml version="1.0"?>
<config>
    <modules>
        <Mec_Help>
            <version>0.1.0</version>
        </Mec_Help>
    </modules>
    <frontend>
        <routers>
            <help>
                <use>standard</use>
                <args>
                    <module>Mec_Help</module>
                    <frontName>help</frontName>
                </args>
            </help>
        </routers>
        <layout>
            <updates>
                <help>
                    <file>help.xml</file>
                </help>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<help>
				<use>admin</use>
				<args>
					<module>Mec_Help</module>
					<frontName>help</frontName>
				</args>
			</help>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<help module="help">
				<title>Help</title>
				<sort_order>999</sort_order>               
				<children>
					<items module="help">
						<title>About MEC</title>
						<sort_order>999</sort_order>
						<action>help/adminhtml_help</action>
					</items>
				</children>
			</help>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mec_Help>
							<title>Help Module</title>
							<sort_order>10</sort_order>
						</Mec_Help>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<help>
					<file>help.xml</file>
				</help>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <help>
                <class>Mec_Help_Model</class>
                <resourceModel>help_mysql4</resourceModel>
            </help>
            <help_mysql4>
                <class>Mec_Help_Model_Mysql4</class>
                <entities>
                    <help>
                        <table>help</table>
                    </help>
                </entities>
            </help_mysql4>
        </models>
        <resources>
            <help_setup>
                <setup>
                    <module>Mec_Help</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </help_setup>
            <help_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </help_write>
            <help_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </help_read>
        </resources>
        <blocks>
            <help>
                <class>Mec_Help_Block</class>
            </help>
        </blocks>
        <helpers>
            <help>
                <class>Mec_Help_Helper</class>
            </help>
        </helpers>
    </global>
</config>
