<?xml version="1.0"?>
<config>
    <modules>
        <Mec_Reviews>
            <version>0.1.7</version>
        </Mec_Reviews>
    </modules>

    <frontend>
        <routers>
            <reviews>
                <use>standard</use>
                <args>
                    <module>Mec_Reviews</module>
                    <frontName>reviews</frontName>
                </args>
            </reviews>
        </routers> 
        <layout>
            <updates>
                <reviews>
                    <file>reviews.xml</file>
                </reviews>
            </updates>
        </layout>
        <translate>
            <modules>
                <CosmoCommerce_Alipay>
                    <files>
                        <default>Mec_Reviews.csv</default>
                    </files>
                </CosmoCommerce_Alipay>
            </modules>
        </translate>
    </frontend>

    <global>
        <models>
            <reviews>
                <class>Mec_Reviews_Model</class>
                <resourceModel>reviews_mysql4</resourceModel>
            </reviews>
            <reviews_mysql4>
                <class>Mec_Reviews_Model_Mysql4</class>
                <entities>
                    <reviews>
                        <table>reviews</table>
                    </reviews>
                    <history>
                        <table>reviews_history</table>
                    </history>
                    <stoplist>
                        <table>reviews_stoplist</table>
                    </stoplist>
                    <product>
                        <table>reviews_product</table>
                    </product>
                </entities>
            </reviews_mysql4>
        </models>
        <resources>
            <reviews_setup>
                <setup>
                    <module>Mec_Reviews</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reviews_setup>
            <reviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reviews_write>
            <reviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reviews_read>
        </resources>
        <blocks>
            <reviews>
                <class>Mec_Reviews_Block</class>
            </reviews>
        </blocks>
        <helpers>
            <reviews>
                <class>Mec_Reviews_Helper</class>
            </reviews>
        </helpers>

    </global>
    <default>
        <catalog>
            <reviews>
                <new_only>0</new_only>
                <sending_enabled>0</sending_enabled>
                <delay>3</delay>
                <identity>general</identity> 
                <template>catalog_reviews_template</template> 
           </reviews>  
           <reviews2>
                <is_random>0</is_random>
                <count>3</count>
                <words>25</words> 
                <min_rating>0</min_rating> 
                <from_category>0</from_category> 
                <from_product>0</from_product> 
                <exclude_viewed>0</exclude_viewed> 
                <show_rating>1</show_rating>                 
                <show_summary_rating>1</show_summary_rating>                 
            </reviews2> 
        </catalog>
    </default>
</config>
