<?xml version="1.0"?>
<config>
    <modules>
        <CosmoCommerce_Campaign>
            <version>0.1.0</version>
        </CosmoCommerce_Campaign>
    </modules>
    <frontend>
        <routers>
            <campaign>
                <use>standard</use>
                <args>
                    <module>CosmoCommerce_Campaign</module>
                    <frontName>campaign</frontName>
                </args>
            </campaign>
        </routers>
        <layout>
            <updates>
                <campaign>
                    <file>campaign.xml</file>
                </campaign>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<campaign>
				<use>admin</use>
				<args>
					<module>CosmoCommerce_Campaign</module>
					<frontName>campaign</frontName>
				</args>
			</campaign>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<campaign module="campaign">
				<title>Campaign</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="campaign">
						<title>Manage Campaign</title>
						<sort_order>0</sort_order>
						<action>campaign/adminhtml_campaign</action>
					</items>
				</children>
			</campaign>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<CosmoCommerce_Campaign>
							<title>Campaign Module</title>
							<sort_order>10</sort_order>
						</CosmoCommerce_Campaign>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<campaign>
					<file>campaign.xml</file>
				</campaign>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <campaign>
                <class>CosmoCommerce_Campaign_Model</class>
                <resourceModel>campaign_mysql4</resourceModel>
            </campaign>
            <campaign_mysql4>
                <class>CosmoCommerce_Campaign_Model_Mysql4</class>
                <entities>
                    <campaign>
                        <table>campaign</table>
                    </campaign>
                </entities>
            </campaign_mysql4>
        </models>
        <resources>
            <campaign_setup>
                <setup>
                    <module>CosmoCommerce_Campaign</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </campaign_setup>
            <campaign_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </campaign_write>
            <campaign_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </campaign_read>
        </resources>
        <blocks>
            <campaign>
                <class>CosmoCommerce_Campaign_Block</class>
            </campaign>
        </blocks>
        <helpers>
            <campaign>
                <class>CosmoCommerce_Campaign_Helper</class>
            </campaign>
        </helpers>
    </global>
</config>