<?xml version="1.0"?>
<config>
	<modules>
      <CosmoCommerce_Inquiry>
        <version>0.1.0</version>
      </CosmoCommerce_Inquiry>
    </modules>
  <global>
    <blocks>
      <inquiry>
        <rewrite>
          <inquiry>CosmoCommerce_Inquiry_Block_Inquiry</inquiry>
        </rewrite>
      </inquiry>
    </blocks>
	<models>
		<inquiry>
			<class>CosmoCommerce_Inquiry_Model</class>
			<resourceModel>inquiry_mysql4</resourceModel>
		</inquiry>
		<inquiry_mysql4>
			<class>CosmoCommerce_Inquiry_Model_Mysql4</class>
			<entities>
				<inquiry>
					<table>dealerinquiry</table>
				</inquiry>
			</entities>
		</inquiry_mysql4>
	</models>
	<helpers> 
		<inquiry>
			<class>CosmoCommerce_Inquiry_Helper</class>
		</inquiry>
	</helpers>
	 <resources>
		<inquiry_setup>
			<setup>
				<module>CosmoCommerce_Inquiry</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</inquiry_setup>
	</resources> 
  </global>
  <admin>
		<routers>
			<inquiry>
				<use>admin</use>
				<args>
					<module>CosmoCommerce_Inquiry</module>
					<frontName>inquiry</frontName>
				</args>
			</inquiry>
        </routers>
    </admin>
  <frontend>
    <routers>
      <inquiry>
        <use>standard</use>
        <args>
          <module>CosmoCommerce_Inquiry</module>
          <frontName>inquiry</frontName>
        </args>
      </inquiry>
    </routers>
    <layout>
      <updates>
        <inquiry>
          <file>inquiry.xml</file>
        </inquiry>
      </updates>
    </layout>
  </frontend>
  <adminhtml>
		<menu>
			<inquiry module="inquiry">
				<title>用户调查</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="inquiry">
						<title>用户调查</title>
						<sort_order>0</sort_order>
						<action>inquiry/manage_inquiry</action>
					</items>
				</children>
			</inquiry>
		</menu>
    	<layout>
            <updates>
                <inquiry>
                    <file>inquiry.xml</file>
                </inquiry>
            </updates>
        </layout>
		
	</adminhtml>
</config>
