<!--@subject  {{var customer.name}}账户确认 @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>亲爱的{{htmlescape var=$customer.name}}</strong>, <br/> 欢迎来到希思黎.</p>

                            <p>请在登录前确认您的邮箱地址{{var customer.email}} .</p>

                            <p>在确认电子邮箱登录时请使用 <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">此链接</a>.此链接只可使用一次.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                登录时请使用以下信息:<br/>
                                邮箱地址: {{var customer.email}}<br/>
                                密码: {{htmlescape var=$customer.password}}<p>

                            <p>如果您对您的账户以及其他事项有疑问，请随时与我们联系 <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> 或拨打电话{{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
