<?xml version="1.0"?>
<!--
 /**
 * CosmoCommerce
 *
 * NOTICE OF LICENSE
 * CosmoCommerce Commercial License 
 * support@cosmocommerce.com
 *
 * @category   CosmoCommerce
 * @package    CosmoCommerce_Udpay
 * @copyright  Copyright (c) 2009 CosmoCommerce,LLC. (http://www.cosmocommerce.com)
 * @license	     CosmoCommerce Commercial License(http://www.cosmocommerce.com/cosmocommerce_commercial_license.txt)
 */
-->
<config>
    <modules>
        <CosmoCommerce_Udpay>
            <version>0.9.0</version>
        </CosmoCommerce_Udpay>
    </modules>
    <global>
        <models>
            <udpay>
                <class>CosmoCommerce_Udpay_Model</class>
                <resourceModel>udpay_mysql4</resourceModel>
            </udpay>
            <udpay_mysql4>
                <class>CosmoCommerce_Udpay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>udpay_api_debug</table></api_debug>
                </entities>
            </udpay_mysql4>
        </models>
        <resources>
            <udpay_setup>
                <setup>
                    <module>CosmoCommerce_Udpay</module>
                    <class>CosmoCommerce_Udpay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </udpay_setup>
            <udpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </udpay_write>
            <udpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </udpay_read>
        </resources>
        <blocks>
            <udpay><class>CosmoCommerce_Udpay_Block</class></udpay>
    	</blocks>
        <payment>
            <udpay_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </udpay_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <udpay_payment>/udpay/payment</udpay_payment>
        </secure_url>
        <routers>
            <udpay>
                <use>standard</use>
                <args>
                    <module>CosmoCommerce_Udpay</module>
                    <frontName>udpay</frontName>
                </args>
            </udpay>
        </routers>
        <translate>
            <modules>
                <CosmoCommerce_Udpay>
                    <files>
                        <default>CosmoCommerce_Udpay.csv</default>
                    </files>
                </CosmoCommerce_Udpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <udpay>
                    <file>udpay.xml</file>
                </udpay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <CosmoCommerce_Udpay>
                    <files>
                        <default>CosmoCommerce_Udpay.csv</default>
                    </files>
                </CosmoCommerce_Udpay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <udpay_payment>
                  <model>udpay/payment</model>
                  <title>Udpay</title>
                  <redirect_text>udpay.</redirect_text>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </udpay_payment>
        </payment>
    </default>
</config>
