<!--@subject 联系表@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->
称呼: {{var data.prefix}}  

名: {{var data.firstname}}    姓氏: {{var data.lastname}}

邮件地址一: {{var data.email1}}    邮件地址二: {{var data.email2}}

邮编: {{var data.zip}}    城市: {{var data.city}}

手机: {{var data.mobile}}    住宅电话: {{var data.tel}}

邮件地址: {{var data.email}}    国家: {{var data.country}}

对象: {{var data.type}}

评论: {{var data.comment}}
