<?xml version="1.0"?>
<config>
    <modules>
        <Mec_Onepage>
            <version>0.1.0</version>
        </Mec_Onepage>
    </modules>
    <frontend>
        <routers>
            <onepage>
                <use>standard</use>
                <args>
                    <module>Mec_Onepage</module>
                    <frontName>onepage</frontName>
                </args>
            </onepage>
        </routers>
        <layout>
            <updates>
                <onepage>
                    <file>onepage.xml</file>
                </onepage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<onepage>
				<use>admin</use>
				<args>
					<module>Mec_Onepage</module>
					<frontName>onepage</frontName>
				</args>
			</onepage>
        </routers>
    </admin>
    <global>
        <models>
            <onepage>
                <class>Mec_Onepage_Model</class>
                <resourceModel>onepage_mysql4</resourceModel>
            </onepage>
            <onepage_mysql4>
                <class>Mec_Onepage_Model_Mysql4</class>
                <entities>
                    <onepage>
                        <table>onepage</table>
                    </onepage>
                </entities>
            </onepage_mysql4>
        </models>
        <resources>
            <onepage_setup>
                <setup>
                    <module>Mec_Onepage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onepage_setup>
            <onepage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onepage_write>
            <onepage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onepage_read>
        </resources>
        <blocks>
            <onepage>
                <class>Mec_Onepage_Block</class>
            </onepage>
        </blocks>
        <helpers>
            <onepage>
                <class>Mec_Onepage_Helper</class>
            </onepage>
        </helpers>
    </global>
</config>
